<h1 class="text-center">Add a new cocktail</h1>

<div class="container">

<%= simple_form_for (@cocktail) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Submit Cocktail", class: "btn btn-flat" %>
  <% end %>

<br><br><br>

      <%= link_to 'Back', root_path, class:"btn btn-flat"%>

</div>
</div>