
<h1 style="text-align:center; background-color: beige;"><%= @cocktail.name %></h1><h6 style="text-align:center;">list of ingredient<h6>
 <% @cocktail.doses.each do |dose| %>
    <li class="list-group-item" style="background-color: beige; padding-left: 165px; max-width: 500px;  margin-left: 32%;">
      <%= dose.description%>
      <%= dose.ingredient.name %>
      &nbsp;&nbsp;
      <%= link_to "x", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }%>

    <% end %>
    </li>
<br><br>

<div class="text-center">


<p>missing something in your drink? Add it here!</p>
<div class="container", style="max-width:500px; background-color: beige;">
<%= simple_form_for [ @cocktail, @dose ] do |f| %>
  <%= f.input :description%>
  <%= f.association :ingredient %>
  <%= f.button :submit, value:"In the cup!", data: { 
               disable_with: 'Pouring!'
             },class:"btn btn-flat" %>
<% end %>
</div>


      <%= link_to 'Back', root_path, class:"btn btn-flat" %>
</div>